body {
    margin: 10px;
}

#not-a-number-warning {
    display: none;
}

#modal {
    display: none;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

#price-ticker-banner{
    width: 90%;
    border: 2px solid grey;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.ticker-column{
    background-color: aquamarine;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.parent {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 10px;
}

.input {
    border: solid black;
    height: 40px;
}

.output {
    border: solid black;
    height: 40px;
}

.tot-value {
    border: solid black;
}