body {
    margin: 10px;
    background-image: url('https://media.giphy.com/media/4KFvuA2LmYYVv46CNN/giphy.gif');
    background-size: cover;
        
    color: white;
    height: 100vh;
    padding:0;
    margin:0;
    }
}

#not-a-number-warning {
    display: none;
}

.modal {
    display: block;
   
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

#price-ticker-banner{
    width: auto;
    margin: auto;
    display: flex;
    background-color: #deba54;
    border-radius: 5px;
    flex-direction: row;
    height: 200px;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.column {
    
}

.box {
    width: 100%;
    margin: auto;
    display: flex;
    height: 250px;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.ticker-column{
    background-color: aquamarine;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.parent {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 10px;
}

.output {
    border: solid black;
    height: 40px;
}

.bitbbl-select {
    width: 100%;
}

.bitbbl-box {
    text-align: center;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
    color: #deba54;
}

.button {
    background-color: white;
    color: #deba54;
    transition: all 0.2s;
    border: none;
    outline: none;
}

.button:hover {
    background-color: #deba54;
    color: white;
}

.bitbbl-checkbox {
    margin-left: 10px;
    margin-right: 10px;
}