body {
    margin: 10px;
}

#not-a-number-warning {
    display: none;
}

#modal {
    display: none;
}

#main {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

#price-ticker-banner{
    width: 90%;
    border: 2px solid grey;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.ticker-column{
    background-color: aquamarine;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}